<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Debug" value="1"/>
		<add key="LocalTimezone" value="7"/>
		<add key="ConnectionString" value="Data Source=172.17.2.38;Initial Catalog=MSMQFLIGHT;Persist Security Info=True;User ID=soft;Password=AHT@2019"/>
		<add key="ConnectionString1" value="Data Source=172.17.3.12;Initial Catalog=MSMQFLIGHT;Persist Security Info=True;User ID=sa;Password=un!tet0geth3r"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>

</configuration>